@model Model.ViewModels.OrderStatisticsViewModel
@{
    ViewBag.Title = "Thống kê Doanh thu";
    Layout = "~/Areas/Admin/Views/Shared/_Layouts.cshtml";
}

@section header{
    Thống kê Sản phẩm
}

@using (Html.BeginForm())
{
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="col-lg-12" style="border: 1px solid #ccc;padding: 10px;">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <div class="form-group">
                                            <label for="startDate">Từ ngày</label>
                                            <input type="date" class="form-control" id="startDate" name="startDate" value="@ViewBag.StartDate" onchange="loadChart()">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label for="endDate">Đến ngày</label>
                                        <input type="date" class="form-control" id="endDate" name="endDate" value="@ViewBag.EndDate" onchange="loadChart()">
                                    </div>
                                </div>
                                <div class="col-lg-3" style="margin-top: 25px;">
                                    <div class="form-group">
                                        <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Ngày</button>
                                        <div class="dropdown-menu" id="dateDropdown">
                                            <a class="dropdown-item" href="#" data-value="today" onclick="selectDate('today')">Ngày hôm nay</a>
                                            <a class="dropdown-item" href="#" data-value="yesterday" onclick="selectDate('yesterday')">Ngày hôm qua</a>
                                            <a class="dropdown-item" href="#" data-value="thisweek" onclick="selectDate('thisweek')">Tuần này</a>
                                            <a class="dropdown-item" href="#" data-value="lastweek" onclick="selectDate('lastweek')">Tuần trước</a>
                                            <a class="dropdown-item" href="#" data-value="thismonth" onclick="selectDate('thismonth')">Tháng này</a>
                                            <a class="dropdown-item" href="#" data-value="lastmonth" onclick="selectDate('lastmonth')">Tháng trước</a>
                                            <div class="dropdown-divider"></div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12" style="border: 1px solid #ccc;padding: 10px;">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-6">
                                </div>
                                <div class="col-md-6 text-right">
                                    <a href="#" id="loadButton" onclick="loadChart()"><i class="fa fa-refresh" aria-hidden="true"></i></a>
                                </div>
                            </div>
                            <hr>
                            <div class="col-md-6">
                                <a href="#" id="showChartBtn" class="btn btn-primary">Biểu đồ</a>
                                <a href="#" id="showDetailsBtn" class="btn btn-primary">Chi tiết</a>
                            </div>
                            <div id="chartSection">

                                <div class="row">
                                    <div class="col-md-12">
                                        <canvas id="productChart" style="height: 300px;"></canvas>
                                    </div>
                                </div>
                            </div>
                            <div id="detailsSection" style="display:none">
                                <a onclick="exportToExcel()" class="btn btn-success">Xuất Excel</a>
                                <div class="row">
                                    <div class="col-md-12">
                                        <table class="table table-bordered">
                                            <thead>
                                                <tr>
                                                    <th>STT</th>
                                                    <th>Tên sản phẩm</th>
                                                    <th>Hình ảnh</th>
                                                    <th>Giá tiền</th>
                                                    <th>Số lượng bán ra</th>
                                                    <th>Số lượng còn</th>
                                                </tr>
                                            </thead>
                                            <tbody id="orderDetailsTableBody">
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>

<script>
    $("#showChartBtn").click(function () {
        var startDate = $("#startDate").val();
        var endDate = $("#endDate").val();
        if (startDate === "" || endDate === "") {
            alert('Chưa đủ dữ liệu');
            return;
        }
        else {
            $("#chartSection").show();
            $("#detailsSection").hide();
            loadChart();
        }
        
    });

    $("#showDetailsBtn").click(function () {
        var startDate = $("#startDate").val();
        var endDate = $("#endDate").val();
        if (startDate === "" || endDate === "") {
            alert('Chưa đủ dữ liệu');
            return;
        }
        else {
            loadChart();
            $('#detailsSection').show();
            $("#chartSection").hide();
        }      
    });

    function parseJsonDate(jsonDate) {
        if (/\/Date\((-?\d+)\)\//.test(jsonDate)) {
            var milliseconds = parseInt(jsonDate.replace(/\/Date\((-?\d+)\)\//, '$1'));
            var date = new Date(milliseconds);
            return date.toLocaleDateString();
        }
        return jsonDate;
    }

    function loadOrderDetails(startDate, endDate) {
        $.ajax({
            url: '/Admin/Statistics/ProductDetailsData',
            type: "GET",
            dataType: "json",
            data: { startDate: startDate, endDate: endDate },
            success: function (response) {
                var top10Products = response.top10Products;
                var html = '';

                for (var i = 0; i < top10Products.length; i++) {
                    html += '<tr>';
                    html += '<td>' + (i + 1) + '</td>';
                    html += '<td>' + top10Products[i].ProductName + '</td>';
                    html += '<td><img src="' + top10Products[i].ProductImage + '" alt="Product Image" style="max-width:50px;"></td>';
                    html += '<td>' + top10Products[i].ProductPrice.toLocaleString('vi-VN', { style: 'currency', currency: 'VND' }) + '</td>';
                    html += '<td>' + top10Products[i].Quantity + '</td>';
                    html += '<td>' + top10Products[i].StockQuantity + '</td>';
                    html += '</tr>';
                }
                $('#orderDetailsTableBody').html(html);
            },
            error: function () {
                alert("Bạn chưa nhập đủ dữ liệu");
            }
        });
    }

    function formatDate(date) {
        var day = ("0" + date.getDate()).slice(-2);
        var month = ("0" + (date.getMonth() + 1)).slice(-2);
        var year = date.getFullYear();
        return year + "-" + month + "-" + day;
    }

    var startDateValue = "";
    var endDateValue = "";

    function selectDate(type) {
        var today = new Date();
        switch (type) {
            case 'today':
                startDateValue = formatDate(today);
                endDateValue = formatDate(today);
                break;
            case 'yesterday':
                var yesterday = new Date(today);
                yesterday.setDate(today.getDate() - 1);
                startDateValue = formatDate(yesterday);
                endDateValue = formatDate(yesterday);
                break;
            case 'thisweek':
                var tempDate = new Date();
                tempDate.setDate(today.getDate() - today.getDay() + (today.getDay() === 0 ? -6 : 1));
                var firstDayOfWeek = new Date(tempDate);
                startDateValue = formatDate(firstDayOfWeek);
                endDateValue = formatDate(today);
                break;
            case 'lastweek':
                var tempDate = new Date();
                var inDate = today.getDate() - today.getDay() + (today.getDay() === 0 ? -6 : 1);
                var lastDayOfLastWeek = new Date(tempDate.setDate(inDate - 1));
                var firstDayOfLastWeek = new Date(tempDate.setDate(inDate - 7));
                startDateValue = formatDate(firstDayOfLastWeek);
                endDateValue = formatDate(lastDayOfLastWeek);
                break;
            case 'thismonth':
                var firstDayOfMonth = new Date(today.getFullYear(), today.getMonth(), 1);
                startDateValue = formatDate(firstDayOfMonth);
                endDateValue = formatDate(today);
                break;
            case 'lastmonth':
                var firstDayOfLastMonth = new Date(today.getFullYear(), today.getMonth() - 1, 1);
                var lastDayOfLastMonth = new Date(firstDayOfLastMonth.getFullYear(), firstDayOfLastMonth.getMonth() + 1, 0);
                startDateValue = formatDate(firstDayOfLastMonth);
                endDateValue = formatDate(lastDayOfLastMonth);
                break;
            default:
                break;
        }

        $("#startDate").val(startDateValue);
        $("#endDate").val(endDateValue);
    }

    
    var myChart;
    function loadChart() {
        var startDate = $("#startDate").val();
        var endDate = $("#endDate").val();
        $("#loadButton").html('<i class="fa fa-spinner fa-spin"></i>');
        $.ajax({
            url: '/Admin/Statistics/ProductQuantityData',
            type: "GET",
            dataType: "json",
            data: { startDate: startDate, endDate: endDate },
            success: function (response) {
                var productNames = response.productNames;
                var quantities = response.productQuantities;
                loadOrderDetails(startDate, endDate);
                var ctx = document.getElementById('productChart').getContext('2d');
                if (window.myChart !== undefined) {
                    window.myChart.destroy();
                }
                window.myChart = new Chart(ctx, {
                    type: 'bar',
                    data: {
                        labels: productNames,
                        datasets: [{
                            label: 'Số lượng sản phẩm',
                            data: quantities,
                            backgroundColor: 'rgba(255, 99, 132, 0.5)',
                            borderColor: 'rgba(255, 99, 132, 1)',
                            borderWidth: 1
                        }]
                    },
                    options: {
                        responsive: true,
                        maintainAspectRatio: false,
                        scales: {
                            xAxes: [{
                                ticks: {
                                    autoSkip: false
                                }
                            }],
                            yAxes: [{
                                ticks: {
                                    beginAtZero: true
                                }
                            }]
                        }
                    }
                });
                $("#loadButton").html('<i class="fa fa-refresh" aria-hidden="true"></i>');
            }
        });
    }

    $(document).ready(function () {

    });
    function exportToExcel() {
        var startDate = document.getElementById("startDate").value;
        var endDate = document.getElementById("endDate").value;
        var exportUrl = '@Url.Action("ExportProductToExcel", "Statistics")';
        exportUrl += '?startDate=' + startDate + '&endDate=' + endDate;
        window.location.href = exportUrl;
    }
</script>
